/*@media only screen and (max-width: 874px) {*/
/*    header nav ul li {*/
/*        margin-left: 12px;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 794px) {*/
/*    header nav ul li a {*/
/*        font-size: 11px;*/
/*    }*/

/*    header nav ul li {*/
/*        margin-left: 8px;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 707px) {*/
/*    header nav {*/
/*        display: none;*/
/*    }*/

/*}*/

@media only screen and (max-width: 769px) {

    .what_we_do .cards {
        justify-content: center;
    }

    .tools {
        min-height: 280px;
    }

    .tools .by_image {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 280px;
    }

    .tools .container p {
        max-width: 350px;
    }

    .tools .container {
        max-width: 710px;
        min-height: 280px;
    }

    footer {
        padding: 50px 15px;
    }

    .new_past {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 429px) {
    .tools .by_image {
        position: relative;
        width: 100%;
        height: 400px;
    }

    footer {
        padding-top: 0;
    }

    footer .container {
        display: block;
        padding: 0 15px;
        max-width: 400px;
    }

    footer .container p {
        font-size: 11px;
        margin-bottom: 10px;
    }

    footer .container:nth-child(3) .left_first a {
        font-size: 11px;
    }

    footer .right_first ul {
        min-width: inherit;
    }

    .main_banner {
        display: block;
        height: calc(80vh - 83px);
    }

    .main_banner article h1 {
        font-size: 45px;
        line-height: 39px;
    }

    .main_banner article h3 {
        color: #181818;
        margin-bottom: 15px;
    }

    .bottom_icons {
        bottom: 21px;
    }

    .what_we_do {
        padding-top: 53px;
        padding-bottom: 0;
    }

    .sunset {
        min-height: 350px;
    }

    .tools .container {
        max-width: 428px;
        min-height: 350px;
        padding: 0 15px;
    }

    .monstera {
        min-height: 428px;
    }

    .past_clients {
        min-height: 428px;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .star {
        min-height: 428px;
    }

    .new_past {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .help {
        padding: 0;
    }

    .help article h4 {
        font-size: 28px;
    }

    .icons_footer {
        margin: auto;
    }

    footer .container:nth-child(3) {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 391px) {
    .help article h4 {
        font-size: 26px;
    }

    .what_we_do h4 {
        font-size: 21px;
    }

    footer .container:nth-child(1) p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 376px) {
    .star {
        padding-right: 0;
        justify-content: center;
    }
}

@media only screen and (max-width: 361px) {
    footer .container .left_first p {
        font-size: 9px;
    }

    footer .container:nth-child(3) .left_first a {
        font-size: 9px;
    }

    .monstera {
        padding-right: 0;
        justify-content: center;
    }

    .sunset {
        padding-right: 0;
        justify-content: center;
    }

    .main_banner article h1 {
        font-size: 40px;
    }

    .main_banner article p {
        font-size: 13px;
        padding: 0 10px;
        text-align: justify;
    }

    .what_we_do h4 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 321px) {
    .main_banner article h1 {
        font-size: 37px;
    }

    .what_we_do h4 {
        font-size: 18px;
    }

    .bottom_icons {
        position: absolute;
        right: 6px;
    }

    .tools .container h4 {
        font-size: 25px;
    }

    footer .container:nth-child(1) p {
        font-size: 8px;
    }
}
